%section.features
  .wrapper
    .feature
      = image_tag "ruby.png", class: "ruby"
      %h2 WHY RUBY ON SAILS
      %p
        RubyConf is one of the most illustrious conferences for Rubyists 
        in the world. Instead of a drunken after party with music too loud,
        come talk about your passion while sailing on 30 to 40 foot vessels 
        with other Rubyists such as yourself.
    .feature
      = image_tag "calendar.png", class: "calendar"
      %h2 JOIN US NOVEMBER 7
      %p
        Our charters will depart at 10 AM from the Coconut Grove harbor, 
        eleven miles away from the conference hotel. We will sail on 
        Biscayne Bay for a morning cruise and the afternoon will include a
        cookout that will last until sunset. Remember to bring your sunscreen.
    .feature
      = image_tag "boat.png", class: "boat"
      %h2 MIAMI CHARTERED SAILS
      %p
        We've reserved chartered sailboats from Miami Sailing in Miami Beach. 
        They offer private sailing charters departing from Coconut Grove Miami, 
        with soft drinks and bottled waters included. Find out more about their 
        charters at
        = link_to "miamisailing.net", "http://miamisailing.net" 
%section.main.dark
  .wrapper
    %h2 Ruby On Sails. November 7th, 2013.
    %p
      Ruby On Sails is an event not worth missing. You and your friends can
      come join us the day before the RubyConf kickoff and spend a morning
      chartering a sailboat on Biscayne Bay. Our priority is to get individuals 
      with technical passion for Ruby together for an experience you won’t soon 
      forget. We have everything arranged, now we just need you. We’re taking 
      multiple boats out for a day of non-stop awesome fun.  We'll have the 
      kickoff event to start your conference off right. Our sponsors below 
      have covered most of the cost. We'll ask a modest $20 per person to cover
      the after cookout, so grab your sunscreen, your bathing suits, and your 
      friends, and lets do this.
      = link_to "Registration", "http://rubyonsails-ww.eventbrite.com"
      is open now. We can't wait to see you this November!
    %p
      As this event is about fun and community, we'd like to add that this 
      event's proceeds are about community as well.  Any funds above cost 
      of putting on the event will be donated to 
      = link_to "Rails Girls South Florida","http://railsgirls-sfl.org"
      Please sign up with them to coach or sign up as a student for the Nov 
      6 workshop! 
    %p
      = link_to "RubyConf", "http://rubyconf.org"
      is put on
      by the fine folks at 
      = link_to "Ruby Central", "http://rubycentral.org", target: "blank"
      and are not affilliated with us.  We are entirely 
      separate entities.  They do a wonderful job of putting on Ruby 
      Conferences all over, and we simply are having a kickoff event the 
      day before RubyConf. See you all in November!
