%p
  © Ruby On Sails 2013. All rights reserved.
%p
  Questions? 
  = mail_to "info@rubyonsails.info", "Contact Us!"
  | Follow us on 
  = link_to "Twitter", "http://twitter.com/RubyOnSails", target: "blank"
%p
  Designed and Built by 
  = link_to "@pixeljanitor", "http://twitter.com/pixeljanitor", target: "_blank"
  , 
  = link_to "@bry_cunningham", "http://twitter.com/bry_cunningham", target: "_blank"
  ,
  = link_to "@jnanney", "http://twitter.com/jnanney", target: "_blank"
%p
  Thanks to
  = link_to "RubyFriends", "http://rubyfriends.com"
  ,
  = link_to "Kristopher Murata", "http://twitter.com/krsmurata"
  and the rest of the
  = link_to "#FridayHug", "http://fridayhug.com"
  team for sharing their source code. ☺
 

