%section.partysponsor
  %h1 After Party Sponsor
  %div
    = link_to image_tag("pivotal.png", alt: "Pivotal Labs"), "http://pivotallabs.com"
%section.boatsponsors
  %header
    %h1 Sailboat Sponsors
    %ul
      %li= link_to image_tag("neo.png", alt: "Neo Innovation"), "http://neo.com"
      %li= link_to image_tag("hashrocket.png", alt: "Hashrocket"), "http://hashrocket.com"
      %li= link_to image_tag("dockyard.png", alt: "DockYard"), "http://dockyard.com"
      %li= link_to image_tag("Octocat.jpg", alt: "GitHub"), "http://github.com"
      %li= link_to image_tag("engineyard.png", alt: "Engine Yard"), "http://engineyard.com"
      %li= link_to image_tag("bluebox.png", alt: "Blue Box"), "http://bluebox.net"
      %li= link_to image_tag("Ruby_Central_Logo-med.png", alt: "Ruby Central"), "http://rubycentral.org"
      %li= link_to image_tag("DNSimple.png", alt: "DNSimple"), "http://dnsimple.com"
      %li= link_to image_tag("sc-med_orange.png", alt: "SoundCloud"), "http://soundcloud.com"
      %li= link_to image_tag("DevMynd-Logo.png", alt: "DevMynd"), "http://devmynd.com"
