%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: "IE=edge,chrome=1" }
    %meta{ name: :viewport, content: "width=device-width, initial-scale=1.0" }
    %title #RubyOnSails - Tweets!
    = stylesheet_link_tag :application
    = auto_discovery_link_tag :atom, tweets_url(format: :atom), title: "#RubyOnSails"
    = csrf_meta_tag
  %body
    %header#site_header
      %div.container
        -#= link_to "REGISTER", "http://rubyonsails-ww.eventbrite.com", class: "button"
        %h1.logo
          = image_tag asset_path("logo.png"), alt: "Ruby On Sails Logo"
    .wrapper
      %header#page_header
        %nav
          %ul
            %li=link_to "Home", root_path
            %li=link_to "Register", "http://rubyonsails-ww.eventbrite.com"
            %li=link_to "#Tweets", tweets_url
    %section#main{ role: :main }
      = yield
    %section#sponsors
      = render "layouts/sponsors"
    %footer
      = render "layouts/footer"
    = javascript_include_tag :application
    = yield :javascripts
    = render 'shared/ga'
